<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.store">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".FineActivity" />
        <activity android:name=".OrderedBook_list" />
        <activity android:name=".ListOrderedBookActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".MobileActivity" />
        <activity android:name=".Article_list" />
        <activity android:name=".ArticleUploadActivity" />
        <activity android:name=".ArticleActivity" />
        <activity android:name=".ListMySalesActivity" />

        <activity android:name=".NewActivity" />
        <activity android:name=".PdfDetails" />
        <activity
            android:name=".PdfList"
            android:theme="@style/searchTheme" />
        <activity android:name=".ResetActivity" />
        <activity
            android:name=".UsedListActivity"
            android:theme="@style/searchTheme" />
        <activity android:name=".UsedDetailsActivity" />
        <activity android:name=".Sale_BookActivity" />
        <activity android:name=".UsedSalesActivity" />
        <activity android:name=".BookDetailsActivity" />
        <activity
            android:name=".ListActivity"
            android:theme="@style/searchTheme" />
        <activity android:name=".Feedback" />
        <activity android:name=".Complaints" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".forgetpassword" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>